<div class="container mx-auto px-4">
  <header class="my-4">
    <h1 class="text-center text-3xl font-bold">Bus Booking System</h1>
  </header>

  <!-- Search Form -->
  <section>
    <div class="mt-5 flex justify-center">
      <form class="search-form flex items-center shadow-lg">
        <div class="w-full text-white flex flex-wrap">
          <div class="w-full md:w-1/4 flex items-center mb-4 md:mb-0 px-2">
            <div class="flex items-center w-full">
              <span class="input-group-text">
                <i class="bi bi-bus front"></i>
              </span>
              <select
                class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 bg-white text-gray-700 h-10"
                [(ngModel)]="searchObj.fromLocation"
                name="fromLocation"
              >
                <option>Select From Location</option>
                @for (location of locations; track $index) {
                <option [value]="location.locationId">
                  {{ location.locationName }}
                </option>
                }
              </select>
            </div>
          </div>
          <div
            class="w-full md:w-1/12 flex items-center justify-center mb-4 md:mb-0 px-2"
          >
            <i class="bi bi-arrow-left-right text-3xl"></i>
          </div>
          <div class="w-full md:w-1/4 flex items-center mb-4 md:mb-0 px-2">
            <div class="flex items-center w-full">
              <span class="input-group-text">
                <i class="bi bi-bus-front"></i>
              </span>
              <select
                class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 bg-white text-gray-700 h-10"
                [(ngModel)]="searchObj.toLocation"
                name="toLocation"
              >
                <option>Select from Location</option>
                @for (location of locations; track $index) {
                <option [value]="location.locationId">
                  {{ location.locationName }}
                </option>
                }
              </select>
            </div>
          </div>
          <div class="w-full md:w-1/4 flex items-center mb-4 md:mb-0 px-2">
            <div class="flex items-center w-full ml-8">
              <span class="input-group-text">
                <i class="bi bi-calendar"></i>
              </span>
              <input
                type="date"
                class="form-control flex-1 p-2 rounded-r-md text-black rounded-md border"
                placeholder="Date"
                [(ngModel)]="searchObj.travelDate"
                name="travelDate"
              />
            </div>
          </div>
          <div
            class="w-full md:w-1/6 flex items-center justify-center px-2 mt-4 md:mt-0"
          >
            <button
              type="button"
              (click)="searchBuses()"
              class="w-full bg-white text-red-500 p-2 rounded-md"
            >
              SEARCH<br />BUSES
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!--BUSES LIST -->
  <section id="buses-list" class="my-4">
    <h2 class="text-2xl font-bold">Available Buses</h2>
    @if (busList.length === 0) {
    <p class="text-center text-red-700 text-sm">
      No buses available for the selected route
    </p>
    } @for (bus of busList; track $index) {
    <div class="flex flex-wrap">
      <div class="w-full">
        <div class="card mb-3 bg-white shadow-md rounded-lg overflow-hidden">
          <div class="flex flex-wrap">
            <div
              class="w-full md:w-1/4 flex flex-col justify-center items-center p-4"
            >
              <h5 class="card-title text-xl font-bold">{{ bus.busName }}</h5>
              <p class="card-text">{{ bus.vendorName }}</p>
            </div>
            <div class="w-full md:w-3/4">
              <div class="card-body flex flex-wrap p-4">
                <div class="w-full md:w-1/6">
                  <p class="card-text font-bold">
                    {{ bus.departureTime | date : "hh:mm:ss" }}
                  </p>
                  <p class="card-text">Departure</p>
                </div>
                <div class="w-full md:w-1/6">
                  <p class="card-text font-bold">16h</p>
                  <p class="card-text">Duration</p>
                </div>
                <div class="w-full md:w-1/6">
                  <p class="card-text font-bold">
                    {{ bus.arrivalTime | date : "hh:mm:ss" }}
                  </p>
                  <p class="card-text">Arrival</p>
                  <p class="text-red-500">
                    {{ bus.arrivalTime | date : "dd-MM-yyyy" }}
                  </p>
                </div>
                <div class="w-full md:w-1/6">
                  <p class="card-text font-bold">4.5 ⭐</p>
                  <p class="card-text">567 Ratings</p>
                </div>
                <div class="w-full md:w-1/6">
                  <p class="card-text font-bold">INR {{ bus.price }}</p>
                  <p class="card-text">
                    {{ bus.availableSeats }} Seats available out of
                    {{ bus.totalSeats }}
                  </p>
                </div>
                <div class="w-full md:w-1/6 text-right">
                  <button
                    class="bg-red-500 text-white p-2 rounded-md"
                    [routerLink]="['booking/', bus.scheduleId]"
                    routerLinkActive="router-link-active"
                  >
                    Book Seat
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </section>
</div>
